<!DOCTYPE html>
<html lang="en"  class="style" style="background-color: lightsteelblue;">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rate My Dog</title>
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="uikit.min.css" />

</head>

<body>
  <div class="wrapper">
<header>
   <h1 class="uk-heading-large uk-text-center uk-margin-medium-top"><span>Rate My Dog</span></h1>
   <div class="uk-position-top-center" id="buttons">
   <a href="/login"><button id="login" class="uk-text-center uk-button uk-button-default uk-button-small">Log In To Rate</button></a>
<<<<<<< HEAD
   <a href="/sign_up"><button id="sign_up" class="uk-text-center uk-button uk-button-default uk-button-small">Sign Up To Rate</button></a>   </div>
=======
   <a href="/signup"><button id="sign_up" class="uk-text-center uk-button uk-button-default uk-button-small">Sign Up To Rate</button></a>
   <a href="/logout"><button id="logout" class="uk-text-center uk-button uk-button-default uk-button-small">Log Out</button></a>
   </div>
>>>>>>> ea796e617978a1d0e08552601304a65f496e4eda
    <main>
      {{{ body }}}
    </main>

  </div>

{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
</body>

</html>