<!DOCTYPE html>
<html lang="en" class="style" style="background-color: lightsalmon;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Henry</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../uikit.min.css" />
</head>
<header>
  <br></br>
  <p></p>
    <h1 class="uk-heading-line uk-text-center"><span>Henry</span></h1>
    <br></br>
</header>
<body>
<div class="uk-text-center"><img src="../images/dog1.jpg">
  <p>
    Age: 3
  </p>
  <p>
    Relationship Status: Divorced
  </p>
  <p>
    Children: 1 (No vistation rights)
  </p>
<p>
    Henry is a not-so-lovable menance to society. He currently has 3 warrants out for his arrest.
</p>
<br></br>
<div class="container-fluid">
    <div class="row">
      <div class="col-4 list-container">
        <div class="card">
          <ul class="list-group"></ul>
        </div>
      </div>

      <!-- upvote container div -->
  <div class="meta">
   <p>This dog has {{vote_count}} ugly points</p> 
  </div>
      
        {{!-- {{#if loggedIn}} --}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>
  <div>
    <button type="submit" class="uk-button uk-button-default uk-button-secondary uk-margin-small-bottom">Add Comment</button>
  </div>
</form>
{{!-- {{/if}} --}}

<form class="upvote-form uk-button uk-button-default uk-button-primary">
  <button type="submit">Upvote</button>
</form>
{{!-- <button type="b" class="upvote-btn">Upvote</button> --}}


  <!-- Comment container -->
  <div class="comments">
  {{#each comments as |comment| }}
  <section class="comment">
    <div class="meta">
      
      {{comment.user.username}}
    </div>
    <div class="text">
      {{comment.comment_text}}
    </div>
  </section>
  {{/each}}
</div>
    </div>
  </div>
  

<footer>
<br></br>
    <h1 class="uk-heading-2xlarge uk-text-center"><span><a href="/">
      <button class="uk-button uk-button-default uk-button-large">Back to main page</button></span></h1></a>
</footer>

{{!-- {{#if loggedIn}} --}} 
<script async src="/javascript/comment.js"></script>
<script async src="/javascript/upvote.js"></script>
{{!-- {{/if}} --}}
</body>
</html>



