<!DOCTYPE html>
<html lang="en" class="style" style="background-color: lightsalmon;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Henry</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../uikit.min.css" />
</head>
<header>
  <br></br>
  <p></p>
    <h1 class="uk-heading-line uk-text-center"><span>Henry</span></h1>
    <br></br>
</header>
<body>
<div class="uk-text-center"><img src="../images/dog1.jpg">
  <p>
    Age: 3
  </p>
  <p>
    Relationship Status: Divorced
  </p>
  <p>
    Children: 1 (No vistation rights)
  </p>
<p>
    Henry is a not-so-lovable menance to society. He currently has 3 warrants out for his arrest.
</p>
<br></br>
<div class="container-fluid">
    <div class="row">
      <div class="col-4 list-container">
        <div class="card">
          <ul class="list-group"></ul>
        </div>
      </div>
        <textarea class="note-textarea" placeholder="Comment"></textarea>
        <i class="fas fa-save text-light save-note"></i>
        <div>
          <button type="submit">Add Comment</button>
        </div>
      </div>
    </div>
  </div>





</body>
<footer>
<br></br>
    <h1 class="uk-heading-2xlarge uk-text-center"><span><a href="/">
      <button class="uk-button uk-button-default uk-button-large">Back to main page</button></span></h1></a>
</footer>
<script src="/javascript/comment.js"></script>
</html>



