<!DOCTYPE html>
<html lang="en" class="style" style="background-color: lightsteelblue;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rate My Dog</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="uikit.min.css" />
</head>
<header>
   <h1 class="uk-heading-large uk-text-center uk-margin-medium-top"><span>Rate My Dog</span></h1>
   <div class="uk-position-top-center" id="buttons">
   <a href="/login"><button id="login" class="uk-text-center uk-button uk-button-default uk-button-small">Log In To Rate</button></a>
   <a href="/signup"><button id="sign_up" class="uk-text-center uk-button uk-button-default uk-button-small">Sign Up To Rate</button></a> 
   
   </div>
    <main>

        <button id="logout" class="uk-text-center uk-button uk-button-default uk-button-small uk-position-top-left">logout</button>
        
      {{{ body }}}
    </main>
</div>

</header>
<body>
    
<div class="uk-text-center" id="dog-container" style="background-color: grey;">
    <br></br>
    <div class="dog-one" id="dog-one">
    <img src="./images/dog1.jpg">
    <div class="dog-one-rate" id="dog-one-rate">
    <a href="/dog-routes/henry"><button class="uk-button uk-button-default uk-button-small">Rate This Dog</button></a>
    </div>
    </div>

    <br></br>

    <div class="dog-two" id="dog-two">
    <img src="./images/dog2.jpg">
    <div class="dog-two-rate" id="dog-two-rate">
    <a href="/snowball"><button class="uk-button uk-button-default uk-button-small">Rate This Dog</button></a>
    </div>
    </div>

    <br></br>

    <div class="dog-three" id="dog-three">
    <img src="./images/dog3.jpg">
    <div class="dog-three-rate" id="dog-three-rate">
    <a href="/mayo"><button class="uk-button uk-button-default uk-button-small">Rate This Dog</button></a>
    </div>
    </div>

    <br></br>

    <div class="dog-four" id="dog-four">
    <img src="./images/dog4.jpg">
    <div class="dog-four-rate" id="dog-four-rate">
    <a href="/janet"><button class="uk-button uk-button-default uk-button-small">Rate This Dog</button></a>
    </div>
    </div>

    <br></br>

</div>
<footer>
    <h1 class="uk-heading-medium uk-text-center"><span> Uglier Dogs Coming Soon!</span></h1>
<br></br>
</footer>

 <script src="/javascript/logout.js"></script>

</body>

</html>
