
<!DOCTYPE html>
<html lang="en" class="style" style="background-color: lightsteelblue;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rate My Dog</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="uikit.min.css" />

</head>

<body>
<form class="login-form uk-form uk-text-center uk-position-center">
  <div class="uk-form-row">
    <label for="email-login">email:</label>
    <input class="uk-width-1-1 uk-margin-small-bottom" type="text" id="email-login" />
  </div>
  <div class="uk-form-row">
    <label for="password-login">password:</label>
    <input class="uk-width-1-1 uk-margin-medium-bottom" type="password" id="password-login" />
  </div>
  <div>
    <button class="login-form uk-button uk-width-1-1 uk-margin-small-bottom uk-button uk-button-secondary uk-button-small" type="submit">login</button>
  </div>
</form>
<footer>
    <h1 class="uk-heading-2xlarge uk-text-center"><span><a href="/">
      <button class="uk-button uk-button-default uk-button-large uk-position-bottom-center">Back to main page</button></span></h1></a>
      <br></br>
      <br></br>
</footer>
<script src="/javascript/login.js"></script>
</body>
</html>