<!DOCTYPE html>
<html lang="en" class="style" style="background-color: lightyellow;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mayo</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../uikit.min.css" />
    
</head>
<header>
  <br></br>
    <h1 class="uk-heading-line uk-text-center"><span>Mayo</span></h1>
    <br></br>
</header>
<body>
<div class="uk-text-center"><img src="../images/dog3.jpg">
<p>
  Age: 4
</p>
<p>
  Relationship Status: 2 Divorces
</p>
<p>
  Children: 6
</p>
<p>
    He might be blind, but don't ever let your guard down around him. Seriously, I'm writing this from a hospital bed.
</p>
<br></br>
<div class="container-fluid">
    <div class="row">
      <div class="col-4 list-container">
        <div class="card">
          <ul class="list-group"></ul>
        </div>
      </div>


      <!-- upvote container div -->
  <div class="meta">
   <p>This dog has {{vote_count}} ugly points</p> 
  </div>
      
        {{!-- {{#if loggedIn}} --}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>
  <div>
    <button type="submit">Add Comment</button>
  </div>
</form>
{{!-- {{/if}} --}}

<button type="button" class="upvote-btn">Upvote</button>


  <!-- Comment container -->
  <div class="comments">
  {{#each comments as |comment| }}
  <section class="comment">
    <div class="meta">
      
      {{comment.user.username}}
    </div>
    <div class="text">
      {{comment.comment_text}}
    </div>
  </section>
  {{/each}}
</div>
    </div>
  </div>


<br></br>
    <h1 class="uk-heading-2xlarge uk-text-center"><span><a href="/">
      <button class="uk-button uk-button-default uk-button-large">Back to main page</button></span></h1></a>
</footer>

{{!-- {{#if loggedIn}} --}} 
<script async src="/javascript/comment.js"></script>
<script async src="/javascript/upvote.js"></script>
{{!-- {{/if}} --}}

</body>
</html>

